// =================================================================================================
// ---- Globals ----
// =================================================================================================
*,
*:after,
*:before {
  box-sizing: inherit;
  -webkit-user-drag: none;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans Regular';
  font-size: 14px;
  font-style: normal;
  @extend .smooth;
}

html { 
  background: url('/src/assets/img/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// ==|== Disable Click Events ======================================================================
.disable-click {
  pointer-events: none;
  cursor: default;
}

// ==|== Disable Tap Highlight======================================================================
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

// ==|== Center Text ===============================================================================
.text-center {
  text-align: center;
}

// ==|== Make all buttons 100% width of their container ============================================
.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.boxShadow {
  box-shadow: 2px 3px 15px black(0.5);
}

.textShadow {
  text-shadow: 0px 3px 5px black(0.75);
}
