// =================================================================================================
// ---- Globals ----
// =================================================================================================
*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-user-drag: none;
  outline: none;
}

html,
body {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  
  font-family: 'Mundial', sans-serif;
  font-weight: 400;
}

html {
  background: url('/src/assets/img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

#app {
  display: flex;
  flex-direction: column;
  height: auto !important;
  min-height: 100%;
}

.page {
  flex: auto;
}

// ==|== Disable Click Events ======================================================================
.disable-click {
  pointer-events: none;
  cursor: default;
}

// ==|== Disable Tap Highlight======================================================================
* {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;
}

// ==|== Center Text ===============================================================================
.text-center {
  text-align: center;
}

// ==|== Make all buttons 100% width of their container ============================================
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2.5rem;
}

.box-shadow {
  box-shadow: 2px 3px 15px rgb(0 0 0 / 50%);
}

.text-shadow {
  text-shadow: 0 3px 5px rgb(0 0 0 / 75%);
}
