// =================================================================================================
// ---- Typography ----
// =================================================================================================

// ==|== Open Sans =================================================================================
@font-face {
  font-family: 'Open Sans Regular';
  src: url('@/assets/fonts/open-sans/open_sans_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('@/assets/fonts/open-sans/open_sans_light.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('@/assets/fonts/open-sans/open_sans_bold.woff2') format('woff2');
}

// ==|== Mundial ===================================================================================
@font-face {
  font-family: 'Mundial';
  src: local('Mundial');
  font-style: normal;
  font-weight: 100 900;
}

// Mundial Helper Classes
.mundial {
  font-family: 'Mundial', sans-serif;
  font-style: normal;

  &--italic {
    font-style: italic;
  }

  &__hair {
    font-weight: 100;
  }

  &__thin {
    font-weight: 200;
  }

  &__light {
    font-weight: 300;
  }

  &__regular {
    font-weight: 400;
  }

  &__demibold {
    font-weight: 600;
  }

  &__bold {
    font-weight: 700;
  }

  &__black {
    font-weight: 900;
  }
}

// ==|== Helper Classes ============================================================================
.smooth {
  -webkit-text-stroke: 0.35px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
